<div class="navbar navbar-dark bg-dark">
  <div class="logo">
    <%= link_to "Cliatkcos!", cocktails_path, class:'navbar-brand'%>
  </div>

  <%= render 'components/search_form' %>

    <%= link_to "create a new cocktail", new_cocktail_path, class:"btn btn-primary rounded-pill"%>
</div>
