<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "All cocktails", cocktails_path, class: "btn btn-primary" %>
      <%= link_to "Add new cocktail dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
      </ul>
    </div>
  </div>
</div>
